# Python
__pycache__/
*.py[cod]
venv/

# Flask outputs
server/uploads/*
server/static/outputs/*
server/static/output/*
server/static/result_*.jpg
server/history.json

# ML Models and Datasets
*.pt
*.pth
ml_model/dataset/

# Vite cache
client/.vite/
client/dist/
client/tsconfig.tsbuildinfo

# Node
client/node_modules/

# OS
.DS_Store
