# Python
__pycache__/
*.py[cod]
venv/

# Flask outputs
server/uploads/*
server/static/outputs/*
server/static/output/*
server/static/result_*.jpg
server/history.json

# ML Models and Datasets
*.pt
*.pth
ml_model/dataset/

# Vite cache
client/.vite/
client/dist/
client/tsconfig.tsbuildinfo

# Node
client/node_modules/

# OS
.DS_Store
datasets/
# Node modules
client/node_modules/
node_modules/

# Python cache
__pycache__/
*.pyc
venv/

# Outputs
server/uploads/
server/static/
server/history.json

# Datasets
datasets/
ml_model/dataset/

# Build files
client/dist/
client/.vite/

# OS files
.DS_Store
